[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/utkarsh/Desktop/nvidia]
row=0
col=0

[/home/utkarsh/Desktop/steam.desktop]
row=3
col=0

[Trash]
row=0
col=1

[/]
row=1
col=0

[/home/utkarsh]
row=2
col=0

